<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>ЛР1</title>
</head>
<body>
    <div class="header">
        <h1><b>Лабораторна робота №1</b></h1>
        <h2>Виконали студенти ТР-13 Лавренюк Микита та Смолянчук Дарина</h2>
    </div>

    <div class="buttons">
        <button id="pollutionBtn" class="active" disabled>Забруднення</button>
        <form action="/company" method="GET">
            <button id="companiesBtn">Підприємства</button>
        </form>
        <form action="/pollutant" method="GET">
            <button id="pollutantsBtn">Забруднюючі речовини</button>
        </form>
    </div>

    <div class="lr_table">
        <div class="table-container" id="pollutionTable">
            <table class="lr_table-container">
                <h1>Забруднення</h1>
                <tr class="lr_table-tr tr-header">
                    <th rowspan="2">Назва підприємства</th>
                    <th rowspan="2">Назва забруднюючої речовини</th>
                    <th rowspan="2">Усього викидів підприємства, т/рік</th>
                    <th colspan="2">Нормативи ГДВ забруднюючих речовин</th>
                    <th rowspan="2">Клас небезпеки</th>
                    <th rowspan="2">Період</th>
                    <th rowspan="2">Дії</th>
                </tr>
                <tr class="lr_table-tr tr-header">
                    <th>Величина масової витрати, т/рік</th>
                    <th>Гранично допустимі викиди, мг/м3</th>
                </tr>
                {{#each pollution}}
                <tr>
                    <td>{{this.company_name}}</td>
                    <td>{{this.pollutant_name}}</td>
                    <td>{{distanceFixed this.amountpollution}}</td>
                    <td>{{checkValue (distanceFixed (divide this.mass_flow_rate 114.1552))}}</td>
                    <td>{{checkValue this.tlv}}</td>
                    {{!-- <td class="{{#if (gt (multiply this.amountpollution 114.1552) this.mass_flow_rate)}} greater {{else}} less {{/if}}">
                        {{distanceFixed (subtract (multiply this.amountpollution 114.1552) this.mass_flow_rate)}} --}}
                    <td>{{checkValue this.danger}}</td>
                    <td>{{this.date}}</td>
                    </td>
                    <td class="action-cell">
                        <div class="actions-container">
                            <form action="/editpollution/{{this.idpollution}}" method="GET" style="display:inline;">
                                <input type="submit" value="Редагувати" class="edit-button">
                            </form>
                            <form action="/deletepollution/{{this.idpollution}}" method="POST" style="display:inline;">
                                <input type="submit" value="Видалити" class="delete-button">
                            </form>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </table>
            <div class="add-company-button-container">
                <a href="/add-pollution" class="company-button add-company-button-text">Додати поле</a>
            </div>
        </div>
    </div>

    {{!-- <script src="/js/app.js"></script> --}}
</body>
</html>
