<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>ЛР5</title>
</head>
<body>
    <div class="header">
        <h1><b>Лабораторна робота №5</b></h1>
        <h2>Виконали студенти ТР-13 Лавренюк Микита та Смолянчук Дарина</h2>
    </div>


    <div class="buttons">
        <button id="pollutionBtn" class="b-button active" disabled>Забруднення</button>
        <form action="/company" method="GET">
            <button id="companiesBtn" class = "b-button">Підприємства</button>
        </form>
        <form action="/pollutant" method="GET">
            <button id="pollutantsBtn" class="b-button">Забруднюючі речовини</button>
        </form>
        <form action="/taxes" method="GET">
            <button id="taxesBtn" class="b-button">Податки</button>
        </form>
        <form action="/damage" method="GET">
            <button id="damageBtn" class="b-button">Збитки</button>
        </form>
        <form action="/emergency" method="GET">
            <button id="emergencyBtn" class="b-button">Надзвичайні ситуації</button>
        </form>
    </div>

    {{!-- HQ and CR colors info  --}}
    <div id="HQadditionalInfo" class="additional-info">
        <p><b style="color:#00ff00">HQ < 1</b>: Ризик виникнення шкідливих ефектів розглядають як зневажливо малий</p>
        <p><b style="color:#ffff00">HQ = 1</b>: Гранична величина, що не потребує термінових заходів, однак не може розглядатися як досить прийнятна</p>
        <p><b style="color:#ff0000">HQ > 1</b>: Імовірність розвитку шкідливих ефектів зростає пропорційно збільшенню HQ</p>
    </div>
    <div id="CRadditionalInfo" class="additional-info">
        <p><b style="color:#98cbe2">CR < 10^(-6)</b>: Мінімальний (De Minimis) - бажана (цільова) величина ризику при проведенні оздоровчих і природоохоронних заходів</p>
        <p><b style="color:#00ff00">CR > 10^(-6) - CR < 10^(-4)</b>: Низький - припустимий ризик (рівень, на якому, як правило, встановлюються гігієнічні нормативи для населення)</p>
        <p><b style="color:#ffff00">CR > 10^(-4) - CR < 10^(-3)</b>: Середній - припустимий для виробничих умов; за впливу на все населення необхідний динамічний контроль і поглиблене вивчення джерел і можливих наслідків шкідливих впливів для вирішення питання про заходи з управління ризиком</p>
        <p><b style="color:#ff0000">CR > 10^(-3)</b>: Високий (De Manifestis) - не прийнятний для виробничих умов і населення. Необхідне здійснення заходів з усунення або зниження ризику</p>
    </div>

    <div class="lr_table">
        <div class="table-container" id="pollutionTable">
            <table class="lr_table-container">
                <h1>Забруднення</h1>
                <tr class="lr_table-tr tr-header">
                    <th rowspan="2" style="min-width: 150px;"><a id="companyNameTh" onclick="toggleFilter('companyFilter', 'companyNameTh')" style="cursor:pointer;">Назва підприємства ▼</a>
                        <br><br>
                        <input type="text" id="companyFilter" oninput="filterTable()" class="filter-input-disabled" />
                    </th>
                    <th rowspan="2"><a id="pollutantNameTh" onclick="toggleFilter('pollutantFilter', 'pollutantNameTh')" style="cursor:pointer;">Назва забруднюючої речовини ▼</a>
                        <br><br>
                        <input type="text" id="pollutantFilter" oninput="filterTable()" class="filter-input-disabled" />
                    </th>
                    <th rowspan="2">Усього викидів підприємства, т/рік</th>
                    <th rowspan="2">Концентрація, мг/м³</th>
                    <th colspan="2">Нормативи ГДВ забруднюючих речовин</th>
                    <th rowspan="2" id="HQ">Коефіцієнт неканцерогенного ризику (HQ)</th>
                    <th rowspan="2" id="CR">Коефіцієнт канцерогенного ризику (CR)</th>
                    <th rowspan="2">Клас небезпеки</th>
                    <th rowspan="2" style="min-width: 80px;"><a id="yearTh" onclick="toggleFilter('yearFilter', 'yearTh')" style="cursor:pointer;">Період ▼</a>
                        <br><br><input type="number" id="yearFilter" oninput="filterTable()" class="filter-input-disabled" />
                    </th>
                    <th rowspan="2">Дії</th>
                </tr>
                <tr class="lr_table-tr tr-header">
                    <th>Величина масової витрати, т/рік</th>
                    <th>Гранично допустимі викиди, мг/м3</th>
                </tr>
                {{#each pollution}}
                <tr id="rowData">
                    <td>{{this.company_name}}</td>
                    <td>{{this.pollutant_name}}</td>
                    <td>{{this.amountpollution}}</td>
                    <td>{{this.concentration}}</td>
                    <td>{{checkValue (distFixed (divide this.mass_flow_rate 114.1552))}}</td>
                    <td>{{checkValue this.tlv}}</td>
                    <td class="{{riskHQColor (calculateHq this.concentration this.rfc)}}">{{checkValue (distFixed (calculateHq this.concentration this.rfc))}}</td> {{!-- HQ --}}
                    <td class="{{riskCRColor (calculateCr this.concentration this.sf)}}">{{checkValue (crFixed (calculateCr this.concentration this.sf))}}</td> {{!-- CR --}}
                    {{!-- <td class="{{#if (gt (multiply this.amountpollution 114.1552) this.mass_flow_rate)}} greater {{else}} less {{/if}}">
                        {{distanceFixed (subtract (multiply this.amountpollution 114.1552) this.mass_flow_rate)}} --}}
                    
                    <td>{{checkValue this.danger}}</td>
                    <td>{{this.date}}</td>
                    </td>
                    <td class="action-cell">
                        <div class="actions-container">
                            <form action="/editpollution/{{this.idpollution}}" method="GET" style="display:inline;">
                                <input type="submit" value="Редагувати" class="edit-button">
                            </form>
                            <form action="/deletepollution/{{this.idpollution}}" method="POST" style="display:inline;">
                                <input type="submit" value="Видалити" class="delete-button">
                            </form>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </table>
            <div class="add-company-button-container">
                <a href="/add-pollution" class="company-button add-company-button-text">Додати поле</a>
            </div>
        </div>
    </div>

    <script src="/js/app.js"></script>
    

</body>
</html>
