<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>ЛР1</title>
</head>
<body>
    <div class="header">
        <h1><b>Лабораторна робота №1</b></h1>
        <h2>Виконали студенти ТР-13 Лавренюк Микита та Смолянчук Дарина</h2>
    </div>

    <div class="buttons">
        <form action="/" method="GET">
            <button id="pollutionBtn">Забруднення</button>
        </form>
        <form action="/company" method="GET">
            <button id="companiesBtn">Підприємства</button>
        </form>
        <button id="pollutantsBtn" class="active" disabled>Забруднюючі речовини</button>
    </div>

    <div class="lr_table">
        <!-- Pollutants Table -->
        <div class="table-container" id="pollutantsTable">
            <h1>Забруднюючі речовини</h1>
            <table class="lr_table-container" id="pollutionTable">
                <tr class="lr_table-tr tr-header">
                    <th>ID</th>
                    <th>Назва забруднючої речовини</th>
                    <th>Величина масової витрати, г/год</th>
                    <th>Гранична допустима концентрація, мг/м³</th>
                    <th>Клас небезпеки</th>
                    <th>Дії</th>
                </tr>
                {{#each pollutant}}
                <tr>
                    <td>{{this.idpollutant}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.mass_flow_rate}}</td>
                    <td>{{this.tlv}}</td>
                    <td>{{this.danger}}</td>
                    <td class="action-cell">
                        <div class="actions-container">
                            <form action="/editpollutant/{{this.idpollutant}}" method="GET" style="display:inline;">
                                <input type="submit" value="Редагувати" class="edit-button">
                            </form>
                            <form action="/deletepollutant/{{this.idpollutant}}" method="POST" style="display:inline;">
                                <input type="submit" value="Видалити" class="delete-button">
                            </form>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </table>
            <div class="add-company-button-container">
                <a href="/add-pollutant" class="company-button add-company-button-text">Додати забруднюючу речовину</a>
            </div>
        </div>
    </div>

    <script src="/js/app.js"></script>
</body>
</html>
